In [5]:
import random

TOTAL_CLIENTS = 610
random.sample(range(1, TOTAL_CLIENTS+1), TOTAL_CLIENTS)[:10]

[136, 307, 513, 486, 184, 385, 79, 352, 559, 209]

In [7]:
print(round(TOTAL_CLIENTS*0.7))

427

In [20]:
import pandas as pd
import torch 
import numpy as np

RATINGS_DATAFILE = 'ml-latest-small/movies.csv'
items_info_df = pd.read_csv(RATINGS_DATAFILE)
embeddings = torch.nn.init.xavier_uniform_(torch.empty(items_info_df.shape[0], 256))        
df = pd.DataFrame({"id": np.arange(1, embeddings.shape[0]+1)})
df["embeddings"] = list(embeddings.numpy())

data = pd.concat([items_info_df['movieId'], df["embeddings"]], axis=1)

In [27]:
data_idx = random.sample(range(0, len(data)), len(data))
train_idx = data_idx[round(len(data)*0.2):]
valid_idx = data_idx[:round(len(data)*0.2)]

1948

In [38]:
data.iloc[train_idx]

      movieId                                         embeddings
8274   105504  [0.0034066834, -0.01689226, -0.023025224, -0.0...
1358     1855  [0.016052043, -0.019186983, -0.0032890006, 0.0...
5071     7979  [0.01801409, -0.023844982, -0.00529875, 0.0135...
1620     2164  [0.008841254, 0.009950692, -0.0076806876, -0.0...
4539     6732  [-0.019387366, -0.017260643, 0.014342011, 0.01...
...       ...                                                ...
4093     5856  [0.010499501, 0.0136425, 0.0038410241, 0.01364...
7119    71057  [-0.015573518, -0.012727161, 0.02143841, -0.02...
7099    70521  [-0.01642178, 0.013481722, 0.016486583, 0.0039...
8999   139855  [-0.016278228, -0.017935077, 0.0029905448, -0....
9217   152037  [0.009654906, -0.0007250666, -0.0061905663, 0....

[7794 rows x 2 columns]